<%= semantic_form_for [:admin, @menu_model], :html => {:class => "form-horizontal"}  do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs %>
  <%= f.actions :class => 'form-group' do %>
    <div class="col-lg-offset-2 col-lg-8">
      <%= f.action :submit %>
      <%= f.action :cancel %>
    </div>
  <% end %>
<% end %>