<!DOCTYPE html>
<html>
<head>
  <title>Achieve</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless flash.empty? %>
    <div class="alert alert-warning admin-alert">
      <a class="close" data-dismiss="alert">×</a>
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <% end %>
    </div>
<% end %>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Fluent CMS</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span>&nbsp;<%= t('backend_part.content') %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a data-push="true" href="<%= admin_news_index_url %>"><span class="glyphicon glyphicon-leaf"></span>&nbsp;<%= t('backend_part.news') %></a></li>
          <li><a data-push="true" href="<%= admin_pages_url %>"><span class="glyphicon glyphicon-file"></span>&nbsp;<%= t('backend_part.pages') %></a></li>
          <li><a data-push="true" href="<%= admin_blocks_url %>"><span class="glyphicon glyphicon-th-large"></span>&nbsp;<%= t('backend_part.blocks') %></a></li>
          <li><a data-push="true" href="<%= admin_socials_url %>"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<%= t('backend_part.socials') %></a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;<%= t('backend_part.users') %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a data-push="true" href="<%= admin_users_url %>"><span class="glyphicon glyphicon-user"></span>&nbsp;<%= t('backend_part.users') %></a></li>
          <li><a data-push="true" href="<%= admin_roles_url %>"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;<%= t('backend_part.roles') %></a></li>
        </ul>
      </li>
      <li>
        <a href="<%= admin_menus_url %>" data-push="true"><span class="glyphicon glyphicon-book"></span>&nbsp;<%= t('backend_part.menus') %></a>
      </li>
      <li>
        <a href="<%= admin_posts_url %>" data-push="true"><i class="fa fa-newspaper-o"></i>&nbsp;<%= t('backend_part.blog') %></a>
      </li>
      <li>
        <a href="<%= admin_socials_url %>" data-push="true"><i class="fa fa-th"></i>&nbsp;<%= t('backend_part.socials') %></a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to destroy_user_session_path, :method => 'delete' do %>
            <span class="glyphicon glyphicon-off"></span>
            <%= t('user.logout') %>
        <% end %>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>

<div class="content">

  <div class="breadcrumbs">
    <%= breadcrumbs_helper @breadcrumbs %>
  </div>

  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 main-container">
    <div class="col-md-10 col-lg-10 col-sm-10 zero-padding content-container">
      <%= yield %>
    </div>
    <% if @menu != nil && !@menu.empty? %>
        <div class="col-md-2 col-lg-2 col-sm-2 zero-padding panel panel-default">
          <%= nav_menu_list_helper @menu %>
        </div>
    <% end %>
  </div>
</div>
</body>
</html>
